<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
    <form method="POST">
        {% csrf_token %}


        <label for="a">Topic_name</label>
        <select id="a" name="a">


        {% for i in TO %}
        <option value="{{i}}">{{i.Topic_name}}</option>
        {% endfor %}



        </select>

        <br>
        <br>

















        <label for="b">Name</label>
        <input type="text" name="b" id="b">
        <br>
        <br>
        <label for="c">Url</label>
        <input type="text" name="c" id="c">
        <br>
        <br>
        <br>
        <label for="d">Email</label>
        <input type="text" name="d" id="d">
        <br>
        <br>
        <br>
        <input type="submit" value="web_date">
    </form>
    </center>
</body>
</html>